psychopy
scipy
numpy
pandas
python-pygaze
pillow  # module Image
pygame 
configobj
pyglet
future
json_tricks
pyaudio
IPython
matplotlib
wxPython
psutil

pylink # Package created by SR-research, but not on pip: copy to python27/Lib/site-packages